<ion-view> 
	<ion-nav-buttons side="left">
		<div title="Back" class="pts plm" ng-click="myGoBack()">
			<span class="icon-utility-back active--icon-1 text-color-5 f1"></span>
		</div>
	</ion-nav-buttons>
	
	<ion-nav-title>
		<span class="text-color-5 dib lh-44 fw-semibold f2 ng-binding">About Us</span>
	</ion-nav-title>

   	<ion-content class="about-page" has-header="true">
   		<div class="mam">
			<p class="text-color-1">
				Kruzok is activities app.
			</p>

			<p class="text-color-1">
			</p>
		</div>
   	</ion-content>

</ion-view>